@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
article {
  font-family: "Montserrat", sans-serif;
}
/* NAVBAR STYLES */
ul {
  margin-bottom: 0;
}
ul span {
  color: #fff;
}
.flexbox {
  align-items: center;
  display: flex;
  list-style: none;
}
.flexbox li a {
  font-size: 0.4em;
  color: #fff;
}
.flexbox-container {
  align-items: center;
  display: flex;
}
.flexbox-container ul {
  font-size: 0.8em;
  font-weight: bold;
}
#mainNav {
  position: fixed;
  width: 100%;
  background: #0064c4;
  border-bottom: none;
}
#mainNav a {
  font-size: 0.8em;
  color: #fff;
  border-bottom: none;
}

/* REGISTER STYLES */
.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1 {
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-form-2 {
  padding: 5%;
  background: #0062cc;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
  text-align: center;
  color: #fff;
}
.login-container form {
  padding: 10%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
